@model ImmersiveQuiz.Models.CourseScoreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.Course.CourseId">Create New</a>
</p>
<p>
    @Html.DisplayFor(model => model.Course.Name)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scores.First().StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.First().TimeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.First().PointScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScoreId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ScoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
