@model ImmersiveQuiz.Models.QuestionAnswerViewModel
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Answers)
        {
        <tr id="row-@item.AnswerId" data-id="@item.AnswerId" class="answer-row">
            <td>
                <input id="chkIsCorrect-@item.AnswerId" asp-for="@item.IsCorrect" class="form-control" />
            </td>
            <td>
                <input id="txtContent-@item.AnswerId" asp-for="@item.Content" class="form-control" />
            </td>
            <td>
                <a class="btn-update badge large-badge bg-primary text-light" data-id="@item.AnswerId" asp-route-id="@item.AnswerId">Update</a>
                <a class="badge large-badge bg-danger text-light" asp-action="Delete" asp-controller="Answers" asp-route-id="@item.AnswerId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a class="badge large-badge bg-success text-light" asp-action="Create" asp-controller="Answers" asp-route-questionId="@Model.SearchQuestionId">Add Answer</a>

<script>
    $(document).ready(function () {
        $('.btn-update').click(function () {
            var id = $(this).attr('data-id');
            var isCorrect = $('#chkIsCorrect-' + id);
            var content = $('#txtContent-' + id);
            $.ajax({
                url: "/Home/DeleteProdDetails",
                type: "POST",
                data: {
                    AnswerId: id,
                    isCorrect: isCorrect.prop('checked'),
                    content: content.val()
                },
                success: function (data) {
                    if (data.status == "Success") {
                        var ok = confirm("Deleted successfully!");
                        //window.location.href = "/Locations/Details/" + id;
                    }

                }
            });
        });

    });
</script>

