@model ImmersiveQuiz.Models.QuestionAnswerViewModel
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Answers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCorrect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a class="badge large-badge bg-primary text-light" asp-action="Edit" asp-controller="Answers" asp-route-id="@item.AnswerId">Edit</a>
                    <a class="badge large-badge bg-danger text-light" asp-action="Delete" asp-controller="Answers" asp-route-id="@item.AnswerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


