@model ImmersiveQuiz.Models.CourseLocationViewModel
<br />
<div class="accordion" id="course-@Model.CourseId">
    @foreach (var item in Model.Locations)
    {
    <div class="accordion-item">
        <h2 class="accordion-header" id="location-heading-@item.LocationId">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#location-collapse-@item.LocationId" aria-expanded="true" aria-controls="location-collapse-@item.LocationId">
                @Html.DisplayFor(modelItem => item.Name)
            </button>
        </h2>
        <div id="location-collapse-@item.LocationId" class="accordion-collapse collapse show" aria-labelledby="location-heading-@item.LocationId">
            <div class="accordion-body">
                <p>
                    <a class="badge large-badge bg-success text-light" asp-action="Create" asp-controller="Questions" asp-route-id="@item.LocationId">Add Question</a> |
                    <a class="badge large-badge bg-primary text-light" asp-action="Edit" asp-controller="Locations" asp-route-id="@item.LocationId">Edit</a>
                    <a class="badge large-badge bg-danger text-light" asp-action="Delete" asp-controller="Locations" asp-route-id="@item.LocationId">Delete</a>
                </p>
                <dl class="row">
                    <dd class="col-sm-10">
                        <img src="@item.ImagePath" height="150" width="150" asp-append-version="true" />
                    </dd>
                    <dd class="col-sm-2">
                        <a href="@item.ImagePath">View Image</a>
                    </dd>
                </dl>
                @await Component.InvokeAsync("QuestionList", new { locationId = item.LocationId.ToString(), search = "" })
            </div>
        </div>
    </div>
    <hr />
    <hr />
    }
</div>